<!DOCTYPE html><html><head>
    <meta content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    
    <link href="css/bootstrap.min.css?v=3.1" rel="stylesheet" type="text/css">
<link href="css/common6.css" rel="stylesheet" type="text/css">    <link href="css/products11.css?v=3.1" rel="stylesheet" type="text/css">

<script>
    var runParams = {
        'toolbarLocationShow': true,
        'toolbarBackTo': "back"
    };

</script><style id="__WXWORK_INNER_SCROLLBAR_CSS">::-webkit-scrollbar { width: 12px !important; height: 12px !important; }::-webkit-scrollbar-track:vertical {  }::-webkit-scrollbar-thumb:vertical { background-color: rgba(136, 141, 152, 0.5) !important; border-radius: 10px !important; background-clip: content-box !important; border:2px solid transparent !important; } ::-webkit-scrollbar-track:horizontal {  }::-webkit-scrollbar-thumb:horizontal { background-color: rgba(136, 141, 152, 0.5) !important; border-radius: 10px !important; background-clip: content-box !important; border:2px solid transparent !important; } ::-webkit-resizer { display: none !important; }</style>
</head>
<body id="id1">

    <style>
    @media (min-device-width:414px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:3){
        /*iphone6plus*/ 
    }
</style>
<div class="app">
    <div class="toolbar">
        <div class="toolbar-logo"><img src="https://nb-web-www.imdr.cn/yue/images/logo.png"></div>
        <div class="toolbar-menu" id="toolbar-menu"><a href="javascript:void(0)" data-role="icon-ment" class="icon-menu"></a></div>
                <div class="toolbar-back" id="toolbar-back" style="display: block;"><a href="javascript:void(0);"><i class="icon-arrow-left"></i>上一步</a></div>
                <div class="toolbar-location" id="toolbar-location" style="display: none;"><a href="javascript:void(0);"><i class="icon-location-white"></i><strong data-role="location">上海</strong><i data-role="arrow" class="icon-arrow-down"></i></a></div>
       
    </div>


    <div class="app-body">
        
<div class="captain wrap clearfix">

    <span class="store-name noclick">上海五角场店</span>

    <span class="check-address"><i class="icon-store-info1"></i>门店信息</span>
</div>


<!-- <div class='clearfix' style='text-align:center; margin-bottom:1em;'>
    <i class="icon-number1"></i><strong>选择拍摄类型</strong> <span>(如需拍摄多种类型，可在第5步加选)</span>
</div>
 -->
<div class="wrap" style="padding-top: 14px; ">       
    <div class="product-list">
        <ul class="clearfix">
                            <li>
                    <a href="/book/product/detail/1?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/icon_zhengjian.png"></span>
                        <span class="title">证件照</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/2?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/yue/upload/20160413/14605313196626.png"></span>
                        <span class="title">结婚登记照</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/70?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/icon_qinmi.png"></span>
                        <span class="title">亲密照</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/88?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/20190726-works-MarryMe-icon-new2.png"></span>
                        <span class="title">MarryMe</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/114?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/yue/upload/20170223/14878544365534.png"></span>
                        <span class="title">身份证照套餐</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/109?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/icon_naivegirl_new2.png"></span>
                        <span class="title">NaiveGIRL</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/110?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/icon_moka.png"></span>
                        <span class="title">模卡/见组照</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/104?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/icon_xingzuo2.png"></span>
                        <span class="title">星座幸运照</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/101?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/icon_haoyunzhao.png"></span>
                        <span class="title">好孕照</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/53?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/icon_readme.png"></span>
                        <span class="title">ReadMe</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/68?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/icon_ruxuezhao.png"></span>
                        <span class="title">入学照</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/3?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/yue/upload/20160413/14605308022849.png"></span>
                        <span class="title">Naive Face</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/4?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/icon_xingxiangzhao.png"></span>
                        <span class="title">形象照</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/49?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/iconicon_fanghua.png"></span>
                        <span class="title">芳华照</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/36?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/icon_xueweifu.png"></span>
                        <span class="title">学位服照</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/56?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/icon_xuesheng.png"></span>
                        <span class="title">学生特惠</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/44?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/icon_pets.png"></span>
                        <span class="title">宠物照</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/82?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/icon_cixiangzhao.png"></span>
                        <span class="title">慈祥照</span>
                    </a>
                </li>
                            <li>
                    <a href="/book/product/detail/105?tag=default&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/yue/upload/20160413/14605313359678.png"></span>
                        <span class="title">全家福</span>
                    </a>
                </li>
                    </ul>
    </div>


            <div class="product-list">
            <div class="tel-tip">企业拍摄</div>
            <ul class="clearfix">

                                <li>
                    <a href="/book/product/detail-qiye?city=上海&amp;store_id=1">
                        <span class="photo"><img src="https://nb-web-www.imdr.cn/yue/images/product_logo_qiye.png"></span>
                        <span class="title">企业外拍</span>
                    </a>
                </li>
                                
                                
            </ul>
        </div>
    </div>

<style>
    .store-address-dialog {
        color: #888888;
        position: fixed;
    }
    .store-address-dialog .icon-store-info2 {
        font-size: 48px;
    }
    .store-address-dialog .dialog-box-header {
        border-bottom-color: #f3f3f3;
        margin: 0 15px 10px;
    }
    .store-address-dialog .dialog-box {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -120px;
        margin-left: -145px;
        padding: 0;
        overflow: hidden;
    }
    .store-address-dialog .dialog-box-content {
        border-bottom: none;
        padding: 0 15px;
    }
    .store-address-dialog .dialog-box-content p {
        position: relative;
        padding-left: 22px;
        margin-bottom: 19px;
    }
    .store-address-dialog p i {
        position: absolute;
        top: 3px;
        left: 0;
        width: 12px;
        height: 12px;
    }
    .store-address-dialog .desc p {
        padding: 0;
        margin: 0;
    }
    .store-address-dialog a.tela {
        padding: 7px 14px;
        border: 1px solid #e4e4e4;
        border-radius: 3px;
        color: #888888;
    }
    .store-address-dialog a.tela:hover {
        background:#e4e4e4;
    }
    .store-address-dialog a.tela:active {
        background-color: #cccccc;
        border-color: #cccccc;
        color: #FFFFFF;
    }
</style>
<div class="nb-dialog store-address-dialog" style="display: none;">
    <div class="dialog-box">
        <div class="dialog-box-header">
            <p><span class="icon-store-info2"></span></p>
            <p style="height: 31px;">上海五角场店</p>
            <a href="javascript:$('.store-address-dialog').hide();" class="icon-close close"></a>
        </div>
        <div class="dialog-box-content list" style="font-size: 12px;">
            <p><i class="icon-location-gray"></i>上海市杨浦区淞沪路234号创智天地101</p>
            <p><i class="icon-phone2"></i><a href="tel:021-61999920" class="tela" style="">021-61999920</a></p>
            <p><i class="icon-email"></i>wjc@naiveblue.com</p>
            <p><i class="icon-bus"></i>地铁10号线(江湾体育场站)</p>
        </div>
        <div class="desc"></div>
    </div>
    <div class="mask"></div>
</div>
        <div id="page-mask" class="page-mask"></div>
    </div>
</div>

<div id="toolbar-submenu" class="toolbar-submenu">
    <ul class="ts-menu" id="ts-menu">
        <li><a href="/book"><i class="icon-order"></i>开始预约</a></li>
        <li><a href="/user/orders"><i class="icon-orderlist"></i>我的订单</a></li>
        <li><a href="/user/profile"><i class="icon-profile"></i>个人资料</a></li>
        <li><a href="/stores-address?city=上海"><i class="icon-store-info1"></i>门店地址</a></li>
        <li><a href="/help/tips"><i class="icon-notice"></i>拍摄须知</a></li>
    </ul>
    <div class="mask"></div>
</div>
 


    <div id="alert-dialog" class="alert-dialog" style="display: none;">
        <div class="alert-box">
            <a href="javascript:$('#alert-dialog').hide();" class="close icon-close"></a>
            <div class="alert-header">
                <i class="icon-warning"></i>
            </div>
            <div class="alert-content">
            </div>
            <div class="alert-footer">
                <a href="javascript:void(0)" class="action-btn">好</a>
            </div>
        </div>
        <div class="mask"></div>
    </div>
    
    <script src="js/jQuery-2.1.4.min.js"></script>
    <script src="js/fastclick.js"></script>
    <script src="js/mobile-detect.js"></script>
    
    <script>
        var md = new MobileDetect(window.navigator.userAgent);
        $('#toolbar-menu').click(function(){
            var mentEl = $(this).find('[data-role="icon-ment"]');
            $('#toolbar-submenu').toggle();
            if (mentEl.hasClass('icon-menu')) {
                mentEl.removeClass('icon-menu');
                mentEl.addClass('icon-arrow-right');
            } else {
                mentEl.addClass('icon-menu');
                mentEl.removeClass('icon-arrow-right');
            }

            setTimeout(function() {
                $('#ts-menu').toggleClass('ts-menu-active');
            }, 0);
        });


        $('#toolbar-back').click(function(){

            // if($('#store-multi-name').length && $('#store-box-open').length )
            // {
            //     if(!$('#store-box-open').hasClass('store-box-open-show'))
            //     {
            //         storeMultiNameClicked();
            //         return ;
            //     }
            //     else
            //     {
            //         $('#store-box-open').removeClass('store-box-open-show');
            //         history.back();
            //     }
            // }


            if($('#schedules-calender-open').length)
            {
                if(!$('#schedules-calender-open').hasClass('schedules-calender-open-show')) 
                {
                        $('#schedules-calender-open').addClass('schedules-calender-open-show');
                        return ;
                }
            }

            

            history.back();
        });
 



        if (window.devicePixelRatio && window.devicePixelRatio == 3 && md.is('iPhone')) {
//            $('meta[name="viewport"]').attr('content', 'width=320, initial-scale=1.3, maximum-scale=1.3, user-scalable=no');
        }

        $('#toolbar-submenu').on('click', '.mask', function() {
            $('#toolbar-submenu').hide();
            var mentEl = $('#toolbar-menu').find('[data-role="icon-ment"]');
            if (mentEl.hasClass('icon-menu')) {
                mentEl.removeClass('icon-menu');
                mentEl.addClass('icon-arrow-right');
            } else {
                mentEl.addClass('icon-menu');
                mentEl.removeClass('icon-arrow-right');
            }
            $('#ts-menu').removeClass('ts-menu-active');
        });


        // if (window['runParams'] && runParams.toolbarLocationShow) {
        //     var toolbarLocationElm = $('#toolbar-location');
        //     toolbarLocationElm.show();
        //     toolbarLocationElm.on('click', function() {
        //         $(this).find('[data-role="arrow"]').toggleClass('icon-arrow-down');
        //         $(this).find('[data-role="arrow"]').toggleClass('icon-arrow-up');
        //         $('#toolbar-citys').toggleClass('toolbar-citys-show');
        //     });
        // }

        if (window['runParams'] && runParams.toolbarLocationShow) {

            if(runParams.toolbarBackTo=='citylists')
            {
                $('#toolbar-location').show().on('click', function() {
                    window.location.href='/book/city';
                });
            }
            else if(runParams.toolbarBackTo=='city-addrs')
            {
                $('#toolbar-location').show().on('click', function() {
                    window.location.href='/city-addrs';
                });
            }
            else
            {
                $('#toolbar-location').hide();
                $('#toolbar-back').show();
            }

            
        }

        function customAlert(status, message, actionText, callback) {
            var statusClass = '';
            if(status == 'error') {
                statusClass = 'error';
                $('#alert-dialog').addClass(statusClass);
            }
            
            $('#alert-dialog .alert-content').html(message);
            $('#alert-dialog .action-btn').html(actionText);
            $('#alert-dialog .action-btn').on('click', function() {
                if (callback != null) {
                    callback($('#alert-dialog'));
                }
                $('#alert-dialog').hide();
            });
            $('#alert-dialog').show();
            var h = $('#alert-dialog .alert-box').height();
            $('#alert-dialog .alert-box').height(h);
            $('#alert-dialog .alert-box').css('margin-top', -h/2)
        }

        $('.mask').on('click', function() {
            $(this).parent().hide();
        });


 


    </script>
    <script type="text/javascript" src="js/swiper.3.2.0.jquery.min.js"></script>
<script type="text/javascript"> 
     

    $('.check-address').on('click', function() {
        $('.store-address-dialog').toggle();
        var h = $('.store-address-dialog .dialog-box').height();
        $('.store-address-dialog .dialog-box').css({
            'height': h + 'px',
            'margin-top': -h/2+'px'
        });

    });

    
    
</script>

</body></html>