<?php include('header.html'); ?>
<link href="<?=$tpl_dir?>/css/pagination.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?=APPLICATION_URL?>/public/ueditor/ueditor.config.js"></script>
<script src="<?=APPLICATION_URL?>/public/ueditor/ueditor.all.js"></script>
<script src="<?=APPLICATION_URL?>/public/assets/js/jquery.min.js"></script>
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"> 套餐管理</div>
        </div>
        <hr>
        <?if($action=="from"){?>
        <div class="am-g">
            <form method="post" action="?c=admin&a=category&action=save" enctype="multipart/form-data" onsubmit="return onFormSubmit(this);">
                <div class="admin-content-body">
                    <input type="hidden" name="id" value="<?=$categoryinfo['id']?>" />
                    <div class="am-form">
                        <fieldset>
                            <div class="am-form-group">
                                <label for="doc-ipt-email-1">套餐名</label>
                                <input type="text" class="" id="name" name="name" value="<?=$categoryinfo['name']?>">
                            </div>
                            <div class="am-form-group">
                                <label for="doc-ipt-email-1">套餐图片</label>

                                <input type="text" class="" id="icon" name="icon" value="<?=$categoryinfo['icon']?>">
                                <div class="am-form-group am-form-file">
                                    <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                        <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                                    </button>
                                    <input id="doc-form-file" name="doc-form-file" type="file" multiple>
                                </div>
                                <div id="file-list"></div>
                                <script>
                                    $(function() {
                                        $('#doc-form-file').on('change', function() {
                                            var fileNames = '';
                                            $.each(this.files, function() {
                                                fileNames += '<span class="am-badge">' + this.name + '</span> ';
                                            });
                                            $('#file-list').html(fileNames);
                                        });
                                    });
                                </script>
                            </div>
                            <div class="am-form-group">
                                <label for="doc-ipt-email-1">排序</label>
                                <input type="number" class="" id="sort" name="sort" value="<?=$categoryinfo['sort']?>">
                            </div>
                            <div class="am-form-group">
                                <label for="doc-ipt-email-1">类型(0电话预约,1网上预约)</label>
                                <input type="text" class="" id="type" name="type" value="<?=$categoryinfo['type']?>">
                            </div>
                            <div class="am-form-group">
                                <label for="doc-ipt-email-1">耗时(小时)</label>
                                <input type="text" class="" id="delay" name="delay" value="<?=$categoryinfo['delay']/3600?>">
                            </div>

                            <p><button type="submit" class="am-btn am-btn-success">提交</button></p>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
        <?}else{?>
        
        <div class="am-g">
            <div class="am-g" style="margin:10px">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs" style="margin-bottom:5px">
                        <a type="button" class="am-btn am-btn-success" href="?c=admin&a=category&action=from"><span class="am-icon-plus"></span>新建</a>
                    </div>
                </div>
                <div class="am-form  am-scrollable-horizontal">
                    <table class="am-table am-table-bordered am-table-striped am-text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>套餐图片</th>
                                <th>套餐名称</th>
                                <th>类型</th>
                                <th>耗时(小时)</th>
                                <th>排序</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?foreach ($categorylist as $v){?>
                            <tr>
                                <td><?=$v['id']?></td>
                                <td><img src="<?=$v['icon']?>" width="50" /></td>
                                <td><?=$v['name']?></td>
                                <td>
                                
                                    <?if($v['type']=="0"){?>电话预约
                                    <?}else if($v['type']=="1"){?>网上预约
                                    <?}?>
                               </td>
                                <td><?=$v['delay']/3600?></td>
                                <td><?=$v['sort']?></td>
                                <td>
                                    <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="?c=admin&a=category&action=from&id=<?=$v['id']?>"><span class="am-icon-pencil-square-o"></span> 编辑</a>
                                    <a class="am-btn am-btn-danger am-btn-xs" onclick="deletesetCity(<?=$v['id']?>)">删除</a>
                                </td>
                            </tr>
                            <?}?>
                        </tbody>
                    </table>
                </div>
                <div class="am-cf" style="text-align: center; margin:1rem; font-size:1rem">
                    每页<?=$page_count?> 共<?=$totalcount?> 条记录
                    <div class="am-fr">
                        <? if(count($pagestr)>1){ ?>
                        <ul class="mui-pagination  mui-pagination-sm">
                            <li class="mui-previous"><a href="c=admin&a=category&page=1&name=<?=$name?>">首页</a></li>
                            <? foreach($pagestr as $k=>$v){ ?>
                            <? if($v==$page){ ?>
                            <li class="mui-active"><a href="#"><?=$v?></a></li>
                            <? }else{ ?>
                            <li><a href="c=admin&a=category&page=<?=$v?>&name=<?=$name?>"><?=$v?></a></li>
                            <? } ?>
                            <? } ?>
                            <li class="mui-next"> <a href="c=admin&a=category&page=<?=$totalpage?>&name=<?=$name?>">尾页</a></li>
                        </ul>
                        <? } ?>
                    </div>
                </div>
            </div>
        </div>
        <?}?>
    </div>
</div>
<script type="text/javascript">
    var ue = UE.getEditor('container');
    function onFormSubmit(from) {
          var citycode = $("#citycode").val();
          var name = $("#name").val();
          if (citycode=="0") {
              layer.msg("请选择城市");
              return false;
          }
          if (!name) {
              layer.msg("请输入店名");
              return false;
          }
      }
      function deletesetCity(id) {
          layer.confirm('是否确认删除？', {
              btn: ['确认', '取消']
          }, function () {
              $.ajax({
                  type: "POST",
                  async: true,
                  data: { action: "delete", id: id },
                  url: "?c=admin&a=category",
                  success: function (ret) {
                      window.location.href = window.location.href;
                  },
                  error: function (data) {
                      alert("请求失败");
                  }
              });
          });
      }

</script>
<?php include('footer.html'); ?>