<?php include('header.html'); ?>
<link href="<?=$tpl_dir?>/css/pagination.css" rel="stylesheet" type="text/css">

<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"> 套餐管理</div>
        </div>
        <hr>
        <?if($action=="from"){?>
        <div class="am-g">
            <form method="post" action="?c=admin&a=category&action=save" enctype="multipart/form-data" onsubmit="return onFormSubmit(this);">
                <div class="admin-content-body">
                    <input type="hidden" name="id" value="<?=$categoryinfo['id']?>" />
                    <div class="am-form">
                        <fieldset>
                            <div class="am-form-group">
                                <label >套餐名</label>
                                <input type="text" class="" id="name" name="name" value="<?=$categoryinfo['name']?>">
                            </div>
                            <div class="am-form-group">
                                <label >所属项目</label>
                                <select name="project_id" id="project_id">
                                    <option value="">请选择</option>
                                    <?php foreach($projects as $k=>$v){ ?>
                                    <option value="<?=$v['id']?>"  <?php if($categoryinfo['project_id']==$v['id']){ ?> selected <?php } ?>><?=$v['name']?></option>
                                    <?php } ?>
                                </select>
                            </div>
                            <div class="am-form-group">
                                <label >套餐图片</label>

                                <input type="text" class="" id="icon" name="icon" value="<?=$categoryinfo['icon']?>">
                                <div class="am-form-group am-form-file">
                                    <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                        <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                                    </button>
                                    <input id="doc-form-file" name="doc-form-file" type="file" multiple>
                                </div>
                                <div id="file-list"></div>
                            </div>
                            <div class="am-form-group">
                                <label >排序</label>
                                <input type="number" class="" id="sort" name="sort" value="<?=$categoryinfo['sort']?>">
                            </div>
                            <div class="am-form-group">
                                <label >类型</label>
                                <select name="type" id="type">
                                    <option value="">请选择</option>
                                    <?php foreach($types as $k=>$v){ ?>
                                    <option value="<?=$v['id']?>" <?php if($categoryinfo['type']==$v['id']){ ?> selected <?php } ?>><?=$v['name']?></option>
                                    <?php } ?>
                                </select>
                            </div>
                            <div class="am-form-group">
                                <label >耗时(小时)</label>
                                <input type="text" class="" id="delay" name="delay" value="<?=$categoryinfo['delay']/3600?>">
                            </div>
                            <div class="am-form-group">
                                <label >简介</label>
                                <script type="text/plain" id="description" name="description"><?=$categoryinfo['description']?></script>
                            </div>
                            <p><button type="submit" class="am-btn am-btn-success">提交</button></p>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
        <?}else{?>

        <div class="am-g">
            <div class="am-g" style="margin:10px">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs" style="margin-bottom:5px">
                        <a type="button" class="am-btn am-btn-success" href="?c=admin&a=category&action=from"><span class="am-icon-plus"></span>新建</a>
                    </div>
                </div>
                <div class="am-form  am-scrollable-horizontal">
                    <table class="am-table am-table-bordered am-table-striped am-text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>所属项目</th>
                                <th>套餐图片</th>
                                <th>套餐名称</th>
                                <th>类型</th>
                                <th>耗时(小时)</th>
                                <th>排序</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?foreach ($categorylist as $v){?>
                            <tr>
                                <td><?=$v['id']?></td>
                                <td><?=$v['project_name']?></td>
                                <td><img src="<?=$v['icon']?>" width="50" /></td>
                                <td><?=$v['name']?></td>
                                <td><?=$v['type']?></td>
                                <td><?=$v['delay']/3600?></td>
                                <td><?=$v['sort']?></td>
                                <td>
                                    <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="?c=admin&a=category&action=from&id=<?=$v['id']?>"><span class="am-icon-pencil-square-o"></span> 编辑</a>
                                    <a class="am-btn am-btn-danger am-btn-xs" onclick="deletesetCity(<?=$v['id']?>)">删除</a>
                                </td>
                            </tr>
                            <?}?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <?}?>
    </div>
</div>

<!--<?php if($action=="from"){ ?>-->
<script type="text/javascript" charset="utf-8" src="<?=APPLICATION_URL?>/public/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="<?=APPLICATION_URL?>/public/ueditor/ueditor.all.js"></script>
<!--<?php } ?>-->
<script type="text/javascript">
    /*<?php if($action=="from"){ ?>*/
    var ue = UE.getEditor('description', {
        initialFrameHeight: 550
        ,serverUrl: '<?=APPLICATION_URL?>/?c=ueditor&a=controller'
        ,wordCount: false
        ,iframeCssUrl: '<?=APPLICATION_URL?>/application/views/mobile/yue/css/product-detail.css'
        ,initialStyle: ''
        ,filterTxtRules: {}
        ,autotypeset: {}
        ,enableContextMenu: false
        ,elementPathEnabled: false
        ,removeFormatTags: ''
        ,removeFormatAttributes: ''
        ,autoHeightEnabled: false
        ,autoClearEmptyNode: false
        ,autoClearinitialContent: false
        ,allowDivTransToP: false
    });

    /*<?php } ?>*/

    function onFormSubmit(from) {
        var citycode = $("#citycode").val();
        var name = $("#name").val();
        var projectid = $("#project_id").val();
        if (citycode=="0") {
            layer.msg("请选择城市");
            return false;
        }
        if (!projectid){
            layer.msg("请选择项目");
            return false;
        }
        if (!name) {
            layer.msg("请输入店名");
            return false;
        }
    }
    function deletesetCity(id) {
        layer.confirm('是否确认删除？', {
            btn: ['确认', '取消']
        }, function () {
            $.ajax({
                type: "POST",
                async: true,
                data: { action: "delete", id: id },
                url: "?c=admin&a=category",
                success: function (ret) {
                    window.location.href = window.location.href;
                },
                error: function (data) {
                    alert("请求失败");
                }
            });
        });
    }

</script>
<?php include('footer.html'); ?>

<script>
    $(function() {
        $('#doc-form-file').on('change', function() {
            var fileNames = '';
            $.each(this.files, function() {
                fileNames += '<span class="am-badge">' + this.name + '</span> ';
            });
            $('#file-list').html(fileNames);
        });
    });
</script>
