<?php include('header.html'); ?>
<link href="<?=$tpl_dir?>/css/pagination.css" rel="stylesheet" type="text/css">
  <div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"> 城市管理</div>
        </div>
        <hr>

        <?if($action=="from"){?>
        <div class="am-g">
            <form method="post" action="?c=admin&a=city&action=save" onsubmit="return onFormSubmit(this);">
                <div class="admin-content-body">
                    <input type="hidden" name="id" value="<?=$cityinfo['code']?>" />
                    <div class="am-form">
                        <fieldset>
                            <div class="am-form-group">
                                <label for="doc-ipt-email-1">城市编码(<a href="http://tool.webmasterhome.cn/sfz.asp" target="_blank">城市编码查询</a>)</label>
                                <input type="number" class="" id="code" name="code" value="<?=$cityinfo['code']?>">
                            </div>
                            <div class="am-form-group">
                                <label for="doc-ipt-email-1">城市名称</label>
                                <input type="text" class="" id="name" name="name" value="<?=$cityinfo['name']?>">
                            </div>
                            <div class="am-form-group">
                                <label for="doc-ipt-email-1">排序</label>
                                <input type="number" class="" id="sort" name="sort" value="<?=$cityinfo['sort']?>">
                            </div>
                            <div class="am-form-group">
                                <label for="doc-ipt-email-1">状态</label>
                                <select name="status" id="status">
                                    <option value="0"  <?if($cityinfo['status']==0){?>   selected <?}?>>未开通</option>
                                    <option value="1"  <?if($cityinfo['status']==1){?>   selected <?}?>>已开通</option>
                                </select>
                            </div>
                            <div class="am-form-group">
                                <label for="doc-ipt-email-1">电话</label>
                                <input type="text" class="" id="phone" name="phone" value="<?=$cityinfo['phone']?>">
                            </div>
                            <p><button type="submit" class="am-btn am-btn-success">提交</button></p>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
        <?}else{?>
        
        <div class="am-g">
            <div class="am-g" style="margin:10px">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs" style="margin-bottom:5px">
                        <a type="button" class="am-btn am-btn-success" href="?c=admin&a=city&action=from"><span class="am-icon-plus"></span> 新增</a>
                    </div>
                </div>
                <div class="am-form  am-scrollable-horizontal">
                    <table class="am-table am-table-bordered am-table-striped am-text-nowrap">
                        <thead>
                            <tr>
                                <th>城市编码</th>
                                <th>城市名称</th>
                                <th>状态</th>
                                <th>排序</th>
                                <th>电话</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?foreach ($citylist as $v){?>
                            <tr>
                                <td><?=$v['code']?></td>
                                <td><?=$v['name']?></td>
                                <td>
                                    <?if($v['status']=="1"){?><span style="color:green">已开通</span>
                                    <?}else if($v['status']=="0"){?><span style="color:gray">未开通</span>
                                    <?}?>
                                </td>
                                <td><?=$v['sort']?></td>
                                <td><?=$v['phone']?></td>
                                <td>
                                    <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="?c=admin&a=city&action=from&code=<?=$v['code']?>"><span class="am-icon-pencil-square-o"></span> 编辑</a>
                                    <a class="am-btn am-btn-danger am-btn-xs" onclick="deletesetCity(<?=$v['code']?>)">删除</a>
                                </td>
                            </tr>
                            <?}?>
                        </tbody>
                    </table>
                </div>
                <div class="am-cf" style="text-align: center; margin:1rem; font-size:1rem">
                    每页<?=$page_count?> 共<?=$totalcount?> 条记录
                    <div class="am-fr">
                        <? if(count($pagestr)>1){ ?>
                        <ul class="mui-pagination  mui-pagination-sm">
                            <li class="mui-previous"><a href="?c=admin&a=city&page=1&name=<?=$name?>">首页</a></li>
                            <? foreach($pagestr as $k=>$v){ ?>
                            <? if($v==$page){ ?>
                            <li class="mui-active"><a href="#"><?=$v?></a></li>
                            <? }else{ ?>
                            <li><a href="?c=admin&a=city&page=<?=$v?>&name=<?=$name?>"><?=$v?></a></li>
                            <? } ?>
                            <? } ?>
                            <li class="mui-next"> <a href="?c=admin&a=city&page=<?=$totalpage?>&name=<?=$name?>">尾页</a></li>
                        </ul>
                        <? } ?>
                    </div>
                </div>
            </div>
        </div>
        <?}?>
    </div>
</div>
  <script type="text/javascript">
      function onFormSubmit(from) {
          var code = $("#code").val();
          var name = $("#name").val();
      
          if (!code) {
              layer.msg("请输入城市编码");
              return false;
          }
          if (!name) {
              layer.msg("请输入名称");
              return false;
          }
      }
      function deletesetCity(code) {
          layer.confirm('是否确认删除？', {
              btn: ['确认', '取消']
          }, function () {
              $.ajax({
                  type: "POST",
                  async: true,
                  data: { action: "delete", code: code },
                  url: "?c=admin&a=city",
                  success: function (ret) {
                      window.location.href = window.location.href;
                  },
                  error: function (data) {
                      alert("请求失败");
                  }
              });
          });
      }

</script>
<?php include('footer.html'); ?>