<?php include('header.html') ?>

<link href="<?=$tpl_dir?>/yue/css/products11.css" rel="stylesheet" type="text/css">

<div class="app">
    <div class="toolbar">
        <div class="toolbar-logo"><img src="<?=$tpl_dir?>/imgs/logo.png"></div>
        <div class="toolbar-menu" id="toolbar-menu"><a href="javascript:void(0)" data-role="icon-ment" class="icon-menu"></a></div>
        <div class="toolbar-back" id="toolbar-back" style="display: block;"><a href="javascript:void(0);"><i class="icon-arrow-left"></i>上一步</a></div>

    </div>


    <div class="app-body">

        <div class="captain wrap clearfix" style="margin-bottom: 0">

            <span class="store-name noclick"><?=$storeInfo['name']?></span>

            <span class="check-address"><i class="icon-store-info1"></i>门店信息</span>
        </div>

        <div class="wrap" style="padding-top: 14px; ">
            <?php if(!$categories){ ?>
            <div class="title" style="text-align: center">暂无产品</div>
            <?php } ?>
            <?php $i=0; foreach($categories as $k=>$v){ ?>
            <div class="product-list">
                <?php if($i>0){ ?>
                <div class="tel-tip"><?=$k?></div>
                <?php } ?>
                <ul class="clearfix">
                    <?php foreach($v as $kk=>$vv){ ?>
                    <li>
                        <a href="?<?=burl('a=detail&category_id='.$vv['id'])?>">
                            <span class="photo"><img src="<?=$vv['icon']?>"></span>
                            <span class="title"><?=$vv['name']?></span>
                        </a>
                    </li>
                    <?php } ?>
                </ul>
            </div>
            <?php $i++;} ?>
        </div>

        <div id="page-mask" class="page-mask"></div>
    </div>
</div>

<?php include('rightMenu.html') ?>
<?php include('footer.html') ?>
