<?php include('header.html') ?>

<link href="<?=$tpl_dir?>/yue/css/products11.css" rel="stylesheet" type="text/css">

<div class="app">
    <div class="toolbar">
        <div class="toolbar-logo"><img src="<?=$tpl_dir?>/imgs/logo.png" /></div>
        <div class="toolbar-menu" id="toolbar-menu"><a href="javascript:void(0)" data-role="icon-ment" class="icon-menu"></a></div>
        <div class="toolbar-location" id="toolbar-location"><a href="javascript:void(0);"><i class="icon-location-white"></i><strong data-role="location"><?=$city_name?></strong><i data-role="arrow" class="icon-arrow-down"></i></a></div>

    </div>

    <div class="app-body">
		<div class="captain wrap clearfix" style="margin-bottom: 0">
			<span class="store-name noclick">项目选择</span>
		</div>

        <div class="wrap" style="padding-top: 14px; ">
            <div class="product-list">
                <ul class="clearfix">
                        <?php foreach($projects as $v){ ?>
                        <li>
                            <a href="?<?=burl(trim($v['url'],'?'))?>">
                                <span class="photo"><img src="<?=$v['icon']?>"></span>
                                <span class="title"><?=$v['name']?></span>
                            </a>
                        </li>
                        <?php } ?>
                  </ul>
            </div>
        </div>
    </div>
</div>

<script>
    var runParams = {
        'toolbarLocationShow': true,
        'toolbarBackTo': "citylists"
    };
</script>

<?php include('rightMenu.html') ?>
<?php include('footer.html') ?>
